/* TaskList.css */

/* Styles pour le conteneur principal */
.task-list {
    text-align: center;
    padding: 20px;
}

  /* Styles pour le titre */
.task-list h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

  /* Styles pour l'entrée de la nouvelle tâche */
.task-list input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

  /* Styles pour le bouton Ajouter */
.task-list button.add-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

  /* Styles pour la liste des tâches */
.task-list ul {
    list-style: none;
    padding: 0;
}

  /* Styles pour chaque tâche */
.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    padding: 8px;
}

  /* Styles pour le bouton Supprimer */
.task-list button.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}
